@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');
html{
  background-color: #222831;
  height:100vh;
  width:100vw;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.body{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #eeeeee;
}